.button {
  cursor: pointer;
  border: 3px solid;
  border-radius: 20px;
  padding: 15px 30px;
  transition: all 200ms;

  span {
    font-family: var(--font-titillium-web);
    font-size: 1.5rem;
    font-weight: 600;

    svg {
      font-size: 1.3rem;
    }
  }

  p {
    font-family: var(--font-montserrat);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
}

.dark {
  color: $secondary;
  background-color: $primary;
  border-color: $primary;

  &:hover {
    color: $light;
    border-color: $light;
  }
}

.light {
  color: $primary;
  background-color: $secondary;
  border-color: $secondary;

  &:hover {
    background-color: $light;
    border-color: $primary;
  }
}
