.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;

  @include responsive(sm) {
    flex-direction: row;
  }

  .item:nth-child(1) {
    flex: 1 1 20%;
  }
}
