.container {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 300px;

  ul {
    list-style-type: none;

    li {
      padding-left: 1rem;
      background-image: url('/icon.svg');
      background-position: 0 5px;
      background-size: 10px auto;
      background-repeat: no-repeat;
    }
  }
}
