.container {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  background-color: $primary;

  @include min-width(lg) {
    flex-direction: row;
  }
}

.nav {
  flex: 100%;
  max-width: 1200px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  > div {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
  }

  @include min-width(lg) {
    flex-direction: row;
    justify-content: space-between;

    > div {
      text-align: start;
      flex-direction: row;
    }
  }
}

.copyright {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: $secondary;
  transition: all 200ms;
  margin: 0.25rem 0;

  &:last-child {
    margin-right: 0;
  }

  &.active,
  &:hover,
  &:focus {
    color: $light;
  }

  @include min-width(lg) {
    margin: 0.25rem 0.5rem 0.25rem 0;
  }
}
