.container {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background-color: white;
  padding: 2rem 4rem;
  border-radius: 20px;
  border: 1px solid gray;

  button {
    cursor: pointer;
    border: none;
  }
}

.acceptButton {
  background-color: $primary;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  margin-left: 0.5rem;
  transition: all 200ms ease-in-out;

  &:hover {
    color: $primary;
    background-color: $secondary;
  }
}

.closeButton {
  background-color: transparent;
  color: black;
  margin-left: 1rem;
}
