.container {
  text-align: center;
  padding: 2rem 1rem;
}

.list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  font-family: var(--font-montserrat);
  font-size: 0.9rem;
  line-height: 1.35rem;
}
