.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  h3 {
    font-weight: 600;
  }
}

.links {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;

  font-family: var(--font-titillium-web);
  font-size: 1.5rem;

  @include min-width(sm) {
    flex-direction: row;
  }
}

.link {
  color: $secondary;
  background-color: $primary;
  border: none;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  font-size: 1.5rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &:hover,
  &:focus {
    color: $primary;
    background-color: $secondary;
  }

  @include min-width(sm) {
    flex: 1 1 33%;

    flex-direction: column;
    justify-content: center;
    min-height: 10rem;
    transition: all 200ms ease-in-out;
  }
}

.iconWrapper {
  width: 3rem;
  font-size: 2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;

  @include min-width(sm) {
    width: auto;
    font-size: 4rem;
  }
}
