.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  @include min-width(sm) {
    flex-direction: row;
  }

  h3,
  strong {
    color: $secondary;
  }
}

.item {
  flex: 1;
  color: white;
  background-color: $primary;
  border-radius: 10px;
  padding: 1rem;
}
