.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  @include min-width(sm) {
    flex-flow: row wrap;
  }

  h3,
  strong {
    color: $secondary;
  }
}

.item {
  flex: 1 1 49%;
  color: white;
  background-color: $primary;
  border-radius: 10px;
  padding: 1rem;

  @include min-width(sm) {
    padding: 2rem;
  }
}
