.header {
  color: $light;
  background-color: $primary;
  text-align: center;
  min-height: 8vh;
  padding: 20px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  hr {
    width: min(calc(100vw - 40px), 1200px);
    padding: 0 20px;
  }
}
