@use '../variables.module';

.flipbox {
  background-color: transparent;
  width: min(calc(100vw - 40px), 370px);
  height: 370px;
  perspective: 5000px;
}

.flipboxInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 600ms;
  transform-style: preserve-3d;
}

.flipbox:hover .flipboxInner {
  transform: rotateY(180deg);
}

.flipboxFront,
.flipboxBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}

.flipboxFront {
  background-color: white;
  color: variables.$primary;
  border: 5px solid variables.$primary;
}

.flipboxBack {
  background-color: variables.$primary;
  color: white;
  transform: rotateY(180deg);

  .link {
    font-family: var(--font-montserrat);
    padding: 5px 10px;
    border-radius: 20px;
    color: variables.$primary;
    background-color: variables.$secondary;

    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: white;
    }
  }
}
