.container {
    div {
        min-height: 5vh;
    }

    div:nth-child(odd) {
        background-color: $primary;
        display: flex;
        justify-content: center;

        div {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            min-width: 1200px;
        }
    
    }

    div:nth-child(even) {
        background-color: $light;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.link {
    color: $secondary;
    padding: 0 15px;
    transition: all 200ms;

    &.active, &:hover, &:focus {
        color: $light;
    }
}
