.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    border-bottom: 2px solid lightgray;
}

.toggle {
    padding: 3px 5px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    color: $primary;

    &:hover, &:focus {
        color: $secondary;
        background-color: $primary;
    }
}

.nav {
    display: flex;
    flex-flow: column nowrap;
    height: 0;
    transition: height 500ms ease-in-out;
    overflow: hidden;

    a {
        border-bottom: 2px solid lightgray;
        &:hover, &:focus {
            color: $secondary;
            background-color: $primary;
        }
    }
}

.logo {
    height: 5vh;
    width: auto;
}
