@use 'variables';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: variables.$light;
  color: variables.$primary;
  font-family: var(--font-urbanist);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-titillium-web);
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.light {
  color: variables.$light;
}

.secondary {
  color: variables.$secondary;
}

.bg-primary {
  background-color: variables.$primary;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
