.main > *:nth-child(3n-2) {
    color: $light;
    background-color: $primary;
}

.main > *:nth-child(3n) {
    color: $primary;
    background-color: $secondary;
}

.section {
    display: flex;
    height: 40vh;
}

.logo {
    height: 40vh;
    width: auto;
    // flex: 1;
}