.main > *:nth-child(4n-3) {
  color: $light;
  background-color: $primary;
}

.main > *:nth-child(4n-1) {
  color: $primary;
  background-color: $secondary;
}

.main {
  hr {
    border-color: $secondary;
  }
}
