.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  img {
    @include min-width(sm) {
      width: 25%;
    }
    @include min-width(lg) {
      flex: 100%;
    }
  }

  @include min-width(lg) {
    flex-flow: row nowrap;
  }
}
