@use '../variables';

.header {
  color: variables.$light;
  background-color: variables.$primary;
  text-align: center;
  min-height: 8vh;
  padding: 20px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  hr {
    flex: 0;
    border: 2px solid variables.$secondary;
    border-bottom: none;
    width: 60vw;
  }
}

.flexbox {
  margin: 20px 0;
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
}

.flexitem {
  flex: 1 0 calc(50% - 20px);
  padding: 20px;
  border-radius: 20px;
  color: white;
  background-color: variables.$primary;
}

.dottedHr {
  border-bottom: none;
  border-image-source: url('/dash.svg');
  border-image-repeat: round;
  border-image-slice: 18%;
}
