.container {
  // display: flex;
  // flex-flow: column nowrap;
  // justify-content: center;
  // align-items: center;
  // gap: 1rem;

  img {
    width: 100%;
    margin-bottom: 1rem;

    @include min-width(sm) {
      float: left;
      width: 300px;
      margin-right: 1rem;
      margin-bottom: 0;
    }

    @include min-width(lg) {
      width: 200px;
      margin-bottom: 1rem;
    }
  }

  @include min-width(sm) {
    flex-direction: row;
  }
}

.item {
  width: 100%;

  p:last-child {
    margin-bottom: 0;
  }

  @include min-width(lg) {
    &:first-child {
      float: left;
      flex: 0 0 33%;
    }
  }
}

.headshot {
  width: 100%;
  height: auto;
}
