.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 300;
    // padding: 0 0.5rem;
  }

  @include responsive(sm) {
    flex-direction: row;
  }
}
