.container {
  color: $primary;
  background-color: $secondary;
  display: flex;
  justify-content: center;
}

.content {
  header {
    margin-bottom: 1rem;
  }
}

.disclaimer {
  padding: 0 1rem;
}
